swagger: '2.0'
info:
  description: Wishox API Dobcumentation; It's WIP
  version: 0.0.0
  title: Wishbox
host: api.gameparty.ir
basePath: /api/V0.0.0
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: access
tags:
  - name: AUTH
    description: Authentication
schemes:
  - https
  - http
paths:
  /auth/otp/:
    post:
      tags:
        - AUTH
      summary: Send OTP - READY
      description: Send a new OTP in order to login or create a new guest
      operationId: sendOTP
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Sends a new OTP
          required: true
          schema:
            type: object
            properties:
              phone_number:
                type: string
      responses:
        '201':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
              data:
                type: object
                properties:
                  otp_id:
                    type: string
              status:
                type: number
                default: 201
        '400':
          description: Bad Request
        '429':
          description: Throttled
  /auth/otp/verify/:
    post:
      tags:
        - AUTH
      summary: Verify OTP - READY
      description: ''
      operationId: verifyOTP
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: Verifies OTP
          required: true
          schema:
            type: object
            properties:
              otp_id:
                type: string
              otp_code:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  tokens:
                    type: object
                    properties:
                      access_token:
                        type: string
                      refresh_token:
                        type: string
                  is_registered:
                    type: boolean
              status:
                type: number
                default: 200
        '400':
          description: Bad Request
        '429':
          description: Throttled
  /auth/otp/refresh/:
    post:
      tags:
        - AUTH
      summary: Refresh OTP - READY
      description: ''
      operationId: refreshOTP
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: refreshes OTP
          required: true
          schema:
            type: object
            properties:
              refresh_token:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
              data:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
              status:
                type: number
                default: 200
        '400':
          description: Bad Request
        '429':
          description: Throttled
  /profile/:
    get:
      tags:
        - Profile
      summary: Get Profile - READY
      description: ''
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
              data:
                type: object
                properties:
                  profile_id:
                    type: string
                  phone_number:
                    type: string
                  first_name:
                    type: string
                  last_name:
                    type: string
                  email:
                    type: string
                  birthdate:
                    type: string
                    format: date
                  gender:
                    type: string
                    default: M
                  is_phone_number_verified:
                    type: boolean
                  has_accepted_terms:
                    type: boolean
                  photo:
                    type: object
                    properties:
                      file:
                        type: string
                        format: url
              status:
                type: number
                default: 201
        '400':
          description: Bad Request
        '429':
          description: Throttled
    put:
      tags:
        - Profile
      summary: Create or Update Profile - READY
      description: Creates profile for new users(or the one that didn't complete)
      operationId: createProfile
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - in: body
          name: body
          description: Updates Profile
          required: true
          schema:
            type: object
            properties:
              birthdate:
                type: string
                format: date
              gender:
                type: string
                default: F
              photo:
                type: string
              first_name:
                type: string
              last_name:
                type: string
              bio:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  profile:
                    $ref: '#/paths/~1profile~1/get/responses/200/schema/properties/data'
              status:
                type: number
                default: 200
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: forbidden
  /profile/wishlist/:
    post:
      tags:
        - Profile
      summary: Create Wishlist - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - in: body
          name: body
          description: Create Wishlist
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                format: string
              description:
                type: string
                format: string
              cover:
                type: string
      responses:
        '201':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  id:
                    type: string
                    format: string
                  name:
                    type: string
                    format: string
                  description:
                    type: string
                    format: string
                  cover:
                    type: string
              status:
                type: number
                default: 201
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: forbidden
    get:
      tags:
        - Profile
      summary: Get User Wishlists - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
              data:
                properties:
                  wishlist:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        description:
                          type: string
                        cover:
                          $ref: '#/paths/~1profile~1/get/responses/200/schema/properties/data/properties/photo'
              status:
                type: number
                default: 201
        '400':
          description: Bad Request
        '429':
          description: Throttled
  /storage/upload/:
    post:
      tags:
        - Storage
      summary: upload file
      description: ''
      operationId: uploadFile
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - in: formData
          name: file
          type: file
          required: true
          description: Upload File
      responses:
        '201':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  media_id:
                    type: string
              status:
                type: number
                default: 201
        '400':
          description: Bad Request
        '429':
          description: Throttled
  '/wishlist/{id}/':
    patch:
      tags:
        - Wishlist
      summary: Edit Wishlist - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
        - in: body
          name: body
          description: Edit Wishlist
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                format: string
              description:
                type: string
                format: string
              cover:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                $ref: '#/paths/~1profile~1wishlist~1/post/responses/201/schema/properties/data'
              status:
                type: number
                default: 200
    delete:
      tags:
        - Wishlist
      summary: Delete Wishlist - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                default: true
              status:
                type: number
                default: 200
        '404':
          description: NotFound Request
        '429':
          description: Throttled
    post:
      tags:
        - Wishlist
      summary: Create Wish - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
        - in: body
          name: body
          description: Create Wishlist
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                format: string
              description:
                type: string
              price:
                type: string
              cover:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                $ref: '#/paths/~1wish~1%7Bid%7D~1/get/responses/200/schema/properties/data'
              status:
                type: number
                default: 200
    get:
      tags:
        - Wishlist
      summary: Get Wishes - SEMI READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                      format: string
                    description:
                      type: string
                    price:
                      type: string
                    cover:
                      type: string
                    created_at:
                      type: string
                    updated_at:
                      type: string
              status:
                type: number
                default: 200
  '/wishlist/{id}/wish/{wishid}/':
    patch:
      tags:
        - Wishlist
      summary: Edit Wish - SEMI READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
        - name: wishid
          description: user wish id
          required: true
          type: string
        - in: body
          name: body
          description: Create Wishlist
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
                format: string
              description:
                type: string
              price:
                type: string
              cover:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                $ref: '#/paths/~1wishlist~1%7Bid%7D~1/get/responses/200/schema/properties/data'
              status:
                type: number
                default: 200
    delete:
      tags:
        - Wishlist
      summary: Delete Wish - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
        - name: wishid
          description: user wish id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                $ref: '#/paths/~1wishlist~1%7Bid%7D~1/get/responses/200/schema/properties/data'
              status:
                type: number
                default: 200
  '/wishlist/{id}/wish/{wishid}/request/':
    post:
      tags:
        - Wishlist
      summary: Request To Reserve a Wish - NOT READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
        - in: body
          name: body
          description: Create Wishlist
          required: true
          schema:
            type: object
            properties:
              nickname:
                type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  done:
                    type: string
              status:
                type: number
                default: 200
  '/wish/{id}/':
    get:
      tags:
        - Wish
      summary: Get Wish By Id - READY
      description: null
      consumes:
        - application/json
      produces:
        - application/json
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          description: user wishlist id
          required: true
          type: string
      responses:
        '200':
          description: successful operation
          schema:
            type: object
            properties:
              ok:
                type: boolean
                default: true
              data:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                    format: string
                  description:
                    type: string
                  price:
                    type: string
                  cover:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
              status:
                type: number
                default: 200
